.eventsDiv{
    width: 100%;
    height: 100%;
    justify-items: center;
    align-content: center;
    background-color: #171520;
    color: white;
}

.clientEventsData{
    width:97%;
    height: 95%;
    margin: 2%;
}

.clientEventsTopLayout{
    width: 100%;
    height: 20%;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.clientEventsTopLeftLayout{
    width: 45%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: xxx-large;
    font-family:'Times New Roman', Times, serif;
}

.clientEventsTopRightLayout{
    width: 45%;
    height: 100%;
    margin-right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.clientSearchDiv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    height: 100%;
    /* background-color: red; */
}

.eventSearch{
    width: 70%;
    height: 25%;
    border-radius: 10px;
    outline: none;
    border: none;
    transition: 500ms;
    padding-left: 10px;
}

.eventSearch:focus{
    width: 73%;
    /* padding: 3px; */
    outline: none;
    transition: 500ms ease-in-out;
}

.clientEventsBottomLayout{
    margin-top: 10px;
    width: 100%;
    height: 70%;
    /* background-color: red; */
    /* display: flex; */
    /* justify-content: center; */
    justify-items: center;
}

.clientsEventsPagesDiv{
    width: 70%;
    height: 90%;
    /* height: 100%; */
    /* background-color: aqua; */
    text-align: center;
    align-content: center;
    margin-top: 20px;
}

.clientBottomNavBar{
    position: absolute;
    /* background-color: green; */
    width: 50%;
    height: 8%;
    left: 25%;
    top: 90%;
    z-index: 99;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.clientBottomNavBarOption{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clientBottomNavBarOptionLink{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94%;
    height: 70%;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    border: 1px solid white;
}

.clientBottomNavBarOptionLink:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94%;
    height: 70%;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    border: 2px solid white;
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.3);
}

.clientAllTypeEventsDiv{
    /* background-color: green; */
    display: flex;
    width: 40%;
    height: 7%;
    justify-content:space-around;
    align-items: center;
    border-radius: 20px;
    border: 1px solid white;
}

.clientAllTypeEventsDiv > div{
    width: 90%;
    height: 70%;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border: 1px solid white; */
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.clientAllTypeEventsDiv > div:hover:first-child{
    /* width: 90%;
    height: 90%; */
    /* margin: 10px; */
    border: 1px solid white;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
    align-content: center;
}

.clientAllTypeEventsDiv > div:hover:nth-child(2){
    /* width: 90%;
    height: 90%; */
    /* margin: 10px; */
    border: 1px solid white;
    text-align: center;
    align-content: center;
}

.clientAllTypeEventsDiv > div:hover:last-child{
    /* width: 90%;
    height: 90%; */
    /* margin: 10px; */
    border: 1px solid white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    align-content: center;
}