.DashboardDiv{
    width: 100%;
    height: 100%;
    justify-items: center;
    align-content: center;
    background-color: #171520;
    overflow: hidden;
    color: white;
}

.dashboardSelectSubject{
    width: auto;
    height: auto;
    /* background-color: transparent;
    color: white; */
    border: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    border-radius: 5px;
}

.dashboardSelectSubject:focus{
    width: auto;
    height: auto;
    /* background-color: transparent;
    color: white; */
    font-family: 'Times New Roman', Times, serif;
    border: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
}

.dashboardPlots{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    overflow: scroll;
    justify-content: space-between;

}

.fullDashboard{
    width: 100%;
    height: 90%;
    margin-top: 20px;
    color: white !important;
    display: flex;
    overflow: scroll;
}

.DashboardData{
    width:97%;
    height: 95%;
    margin: 2%;
    /* background-color: antiquewhite; */
}

.topLayout{
    width: 100%;
    height: 95%;
}

.topTopLayout{
    display: flex;
    width: 100%;
    height: 70%;
    /* background-color: green; */
}

.top20CodersHead{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.top20CodersDiv{
    width: 100%;
    height: 100%;
    overflow: scroll;
    justify-items: center;
    cursor: pointer;
    /* overflow: scroll;padding: 10px; */
}

.top20Coders:hover{
    /* filter: drop-shadow(2px 4px 6px); */
    box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.1);
}

.top20Coders{
    width: 90%;
    padding-left: 10px;
    display: flex;
    height: 10%;
    /* background-color: green; */
    margin-top: 10px;
    justify-content: space-around;
    /* border: 1px solid white; */
    border: 1px dotted rgb(23, 21, 32);
    border-radius: 5px;
}

/* .top20CodersBorderDiv{
    width: 80%;
    height: 100%;
    border: 1px solid white;
} */

.topTopLeftLayout{
    width: 70%;
    height: 100%;
    /* background-color: gray; */
    justify-items: center;
    align-content: center;
}

.graphLayout{
    width: 95%;
    height: 95%;
    /* background-color: saddlebrown; */
    border: 1px solid black;
    border-radius: 5px;
}

.dashBoardDoughnutGraph{
    width: 100%;
    height: 100%;
    max-width: '200px';
    margin: '0 auto';
    padding: 0;
}

.topTopRightLayout{
    width: 30%;
    height: 100%;
}

.topCodersLayout{
    width: 100%;
    height: 80%;
    /* background-color: antiquewhite; */
}

.yoursRank{
    width: 100%;
    height: 20%;
    /* background-color: blue; */
}

.topBottomLayout{
    display: flex;
    width: 100%;
    height: 30%;
    /* background-color: red; */
    justify-content: space-evenly;
    align-items: center;
}

.dashBoardDoughnutGraph{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomLayoutContent{
    overflow: scroll;
    /* padding: 10px; */
    display: inline-block;
    width: 30%;
    height: 85%;
    /* background-color: black; */
    border: 1px solid black;
    /* align-content: center; */
    justify-items: center;
}

.prevTestsDiv{
    width: 90%;
}

.prevtestsTakeTestId {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.loadingDashboard{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboardGraphData{
    width: auto;
    font-size: small;
}

.prevtestsBottomLayoutTestsAttempted {
    width: 90%;
    /* background-color: black; */
    margin: 2%;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    height: 5%;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.subjectsDashboardInfoDiv{
    /* margin-top: 10px; */
    display: flex;
    justify-content: space-around;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.prevTestsHeadDiv{
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bottomLayout{
    width: 100%;
    height: 5%;
}

/* .dashboardSubsSelected{
    color: black;
} */

.subOption{
    /* background-color: transparent; */
    /* color: white; */
}

.top20CodersData{
    width: 100%;
    display: flex;
    width: 30%;
    overflow: scroll;
    /* justify-content: center; */
    align-items: center;
}