.TestPageDiv{
    width: 100%;
    height: 100%;
    justify-items: center;
    align-content: center;
    background-color: #171520;
    color: white;
    overflow: hidden;
}

.horizontalLineTestPage{
    margin-top: 2%;
}

.glowBlob{
    position: fixed;
    z-index: 0;
    width: 100px;
    height: 100px;
    background:  rgba(255, 255, 255, 0.3);
    filter: blur(60px) opacity(0.5);
    box-shadow: 5px 5px 0px 26dvh rgba(255, 255, 255, 0.3);
    border-radius: 50% 50% 60% 50% / 60% 50% 50% 60%;
    /* border-radius: 50%; */
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) skew(10deg, 350deg);
    /* transform: translate3d(-50%, -50%, 0) skew(320deg, 350deg); */
}

.boltDiv{
    width: 10px;
    height: 10px;
    /* left: 10%; */
    position: fixed;
    background-image: radial-gradient(black 45%, white 1%);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px) opacity(0.6);
    /* z-index: 2; */
}

.topLeft{
    left: 3.3dvh;
    top: 3dvh;
}

.topRight{
    left: 97.5%;
    top: 3dvh;
}

.bottomLeft{
    left: 3.5dvh;
    bottom: 0;
    margin-bottom: 3dvh;
}

.bottomRight{
    left: 97.5%;
    bottom: 0;
    margin-bottom: 3dvh;
}

.glassEffectDiv{
    /* z-index: 0; */
    width: 97%;
    height: 95%;
    background-color: rgba(255, 255, 255, 0.1);
    /* filter: opacity(0.3); */
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.1);
    border: 2px solid transparent;
    border-radius: 5px;
    justify-items: center;
    align-content: center;
}

.testPageData{
    width:97%;
    height: 95%;
    margin: 2%;
    /* background-color: black; */
    /* background-color: white; */
    /* color: black; */
}

.testPageTestHead{
    width: 100%;
    /* height: 5%; */
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.allQuestionNumbersDiv{
    /* background-color: red; */
    width: 5%;
    height: 80%;
    justify-items: center;
    overflow: scroll;
}

.allQuestionNumbersDivOptionsNotSelected{
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7%;
    margin-top: 15%;
    margin-bottom: 15%;
    border-radius: 7px;
    cursor: pointer;
}

.allQuestionNumbersDivOptionsSelected{
    width: 80%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7%;
    margin-top: 15%;
    margin-bottom: 15%;
    border-radius: 7px;
    cursor: pointer;
    transition: 300ms ease-in-out;
}

.QuestionsTab{
    width: 100%;
    height: 100%;
    font-size: larger;
    margin-top: 3%;
    overflow: scroll;
    justify-items: center;
    display: flex;
    justify-content: space-around;
}

.QuestionsTabDiv{
    /* background-color: red; */
    width: 80%;
    height: 80%;
    /* overflow: scroll; */
}

.allOptionsDiv{
    width: 100%;
    margin-top: 5%;
    /* font-size: larger; */
}

.questionOptions{
    /* background-color:rgba(255, 255, 255, 0.4);
    width: 50%;
    height: 20%; */
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.questionOptions:hover{
    filter: drop-shadow(2px 4px 6px);
}

/* .testOptions:hover{
    filter: drop-shadow(2px 4px 6px);
} */

.testOptions{
    margin-left: 20px;
}

.questionRadioOptions{
    display: block;
}

.testPageBottomLayout{
    display: flex;
    width: 80%;
    height: 7%;
    /* background-color: red; */
    position: absolute;
    /* background-color: blue; */
    left: 10%;
    top: 90%;
    gap: 10px;
    justify-content: space-around;
}

.testPageBottomLayoutMessageAndCountDiv{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: anchor-center;
}

.testPageBottomLayoutButtons{
    /* background-color: green; */
    justify-content: space-between;
    height: 100%;
    width: 100%;
    display: flex;
}

.clientTestNextPrevOption{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clientTestNextPrevOptionButton{
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94%;
    height: 70%;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    border: 1px solid white;
}

.clientTestNextPrevOptionButton:hover{
    transition: 100ms ease-in-out;
    background-color: white;
    color: black;
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.3);
}