.testsBottomLayoutTestsNotAttempted{
    width: 70%;
    /* background-color: black; */
    margin-top: 2%;
    border: 2px solid white;
    border-radius: 10px;
    height: 5%;
    padding: 5px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    cursor: pointer;
}

.testsBottomLayoutTestsNotAttempted:hover{
    box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.2);
}

.testsBottomLayoutTestsAttempted{
    width: 70%;
    /* background-color: black; */
    margin-top: 2%;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    height: 5%;
    padding: 5px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    cursor: pointer;
}

.testsBottomLayoutTestsAttempted:hover{
    box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.2);
}

.testsTakeTestId{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.testsTakeTest{
    width: 13%;
    padding-right: 2%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    font-weight:100;
    align-items: center;
    /* background-color: rebeccapurple; */
}

.testsTakeTest:hover{
    /* border: 2px solid black; */
    border-radius: 0;
    border-left: none;
    /* background-color: rgba(255, 255, 255, 0.7); */
    background-image: linear-gradient(to right, transparent, green);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: 100ms ease-in-out;
}

.testsTakeTestCompleted{
    width: 13%;
    padding-right: 2%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    font-weight:100;
    align-items: center;
}

.testsTakeTestCompleted:hover{
    border-radius: 0;
    border-left: none;
    /* background-color: rgba(255, 255, 255, 0.7); */
    background-image: linear-gradient(to right, transparent, red);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: 100ms ease-in-out;
}

.testsBottomLayoutTests:hover{
    border-radius: 7px;
    width: 70.6%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.3);
}

.returnToTestSeries{
    font-weight: bolder;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.returnToTestSeries:hover{
    color: rgba(255, 0, 0, 0.6);
    transition: 300ms ease-in-out;
}

.testsTestSeriesData{
    width:97%;
    height: 100%;
    position: relative;
    z-index: 1;
}