.TestSeriesDiv{
    width: 100%;
    height: 100%;
    justify-items: center;
    align-content: center;
    background-color: #171520;
    color: white;
}

.glowBlob{
    position: fixed;
    z-index: 0;
    width: 100px;
    height: 100px;
    background:  rgba(255, 255, 255, 0.3);
    filter: blur(60px) opacity(0.5);
    box-shadow: 5px 5px 0px 26dvh rgba(255, 255, 255, 0.3);
    border-radius: 50% 50% 60% 50% / 60% 50% 50% 60%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) skew(10deg, 350deg);
}

.boltDiv{
    width: 10px;
    height: 10px;
    position: fixed;
    background-image: radial-gradient(black 45%, white 1%);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px) opacity(0.6);
}

.topLeft{
    left: 3.3dvh;
    top: 3dvh;
}

.topRight{
    left: 97.5%;
    top: 3dvh;
}

.bottomLeft{
    left: 3.5dvh;
    bottom: 0;
    margin-bottom: 3dvh;
}

.bottomRight{
    left: 97.5%;
    bottom: 0;
    margin-bottom: 3dvh;
}

.glassEffectDiv{
    width: 97%;
    height: 95%;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.1);
    border: 2px solid transparent;
    border-radius: 5px;
    justify-items: center;
    align-content: center;
}

.testSeriesData{
    width:97%;
    height: 84%;
    position: relative;
    /* overflow: scroll; */
    z-index: 1;
}

.testSeriesCodingData{
    width:97%;
    height: 84%;
    overflow: scroll;
    position: relative;    
    z-index: 1;
}

.testSeriesTopLayout{
    display: flex;
    width: 100%;
    height: 6%;
    justify-items: center;
    justify-content: space-around;
}

.testSeriesTopLeftLayout{
    display: flex;
    width: 80%;
    justify-content: center;
}

.testSeriesTopLeftMiddleLayout{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    height: 100%;
    border-radius: 30px;
}

.testSeriesTopLeftMiddleLayoutOptionEnabled{
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    border: 2px solid white;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 70%;
    cursor: pointer;
}

.testSeriesTopLeftMiddleLayoutOptionDisabled{
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    border: 0px solid white;
    border-radius: 30px;
    text-align: center;
    width: 100%;
    cursor: pointer;
}


.testSeriesTopRightLayout{
    width: 20%;
}

.testSeriesSearchDiv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.testSeriesSearch{
    width: 80%;
    height: 70%;
    border-radius: 10px;
    outline: none;
    border: none;
    transition: 500ms;
    padding-left: 10px;
}

.testSeriesSearch:focus{
    width: 83%;
    outline: none;
    transition: 500ms ease-in-out;
}

.testSeriesBottomLayout{
    margin: 2%;
    height: 84%;
    z-index: 1;
    position: relative;
    overflow: scroll;
    justify-items: center;
}

.testSeriesBottomLayoutTests{
    width: 75%;
    margin: 2%;
    border: 2px solid white;
    border-radius: 10px;
    height: 5%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.testSeriesBottomLayoutTests:hover{
    border-radius: 7px;
    width: 75.3%;
    box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.3);
}