.ViewResultsDiv{
    width: 100%;
    height: 100%;
    justify-items: center;
    align-content: center;
    background-color: #171520;
    color: white;
}

.boltDiv{
    width: 10px;
    height: 10px;
    /* left: 10%; */
    position: fixed;
    background-image: radial-gradient(black 45%, white 1%);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px) opacity(0.6);
    /* z-index: 2; */
}

.topLeft{
    left: 3.3dvh;
    top: 3dvh;
}

.topRight{
    left: 97.5%;
    top: 3dvh;
}

.bottomLeft{
    left: 3.5dvh;
    bottom: 0;
    margin-bottom: 3dvh;
}

.bottomRight{
    left: 97.5%;
    bottom: 0;
    margin-bottom: 3dvh;
}

.glassEffectDiv{
    /* z-index: 0; */
    width: 97%;
    height: 95%;
    background-color: rgba(255, 255, 255, 0.1);
    /* filter: opacity(0.3); */
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.1);
    border: 2px solid transparent;
    border-radius: 5px;
    justify-items: center;
    align-content: center;
}

.viewResultsDataDiv{
    width:97%;
    height: 95%;
    margin: 2%;
    justify-items: center;
    /* background-color: antiquewhite; */
}

.viewResults{
    width: 80%;
    height: 90%;
    overflow: scroll;
}

.resultQuestionsTabDiv{
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 5px;
    border: 2px solid white;
    padding: 5%;
    /* box-shadow: 0 0 3px 3px white; */
}

.QuestionHead{
    font-weight: bold;
}

.questionOptionsAnswer{
    margin-top: 10px;
    display: flex;
    justify-content:flex-end;
}