/* src/App.css */
/* body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f0f2f5;
    width: 100%;
    height: 100%;
  } */
  
  .dashboard {
    width: 100%;
    /* padding: 20px; */
    margin-bottom: 10px;
    overflow: scroll;
    box-sizing: border-box;
  }
  
  .fulldashboardHeading {
    text-align: center;
    /* margin-bottom: 30px; */
    margin: 0;
    padding: 5px;
    font-size: 32px;
    color: white;
  }
  
  .row {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    /* margin-bottom: 40px; */
    margin-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .chart-box {
    flex: 0 1 calc(33.33% - 20px);
    margin: 10px;
    width: 100%;
    height: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    color: black;
  }
  
  .chart-box h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    color: #444;
  }
  