.backgroundDivContent{
    padding: 0;
    margin: 0;
}

.backgroundDivForExcelSheet{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: white;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    opacity: 90%;
    justify-items: center;
    align-content:flex-start;
    padding-top: 4%;
}

.contentTitle{
    height: auto;
    text-align: center;
    color: white;
    margin-bottom: 15dvh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: 500;
}

.content{
    display: flex;
    width: 100%;
    height: 76dvh;
    overflow: scroll;
    background-color: white;
}

.contentLeftLayout{
    width: 20%;
    align-content: center;
    background-color: #363740;
}

.contentRightLayout{
    width: 80%;
}

.contentSubjects{
    width: 100%;
    height: 60%;
    overflow: scroll;
    background-color: #3F4049;
}

.subjectsListUL{
    width: 100%;
    padding: 0;
    margin: 0;
}

.subjectsList{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5dvh;
    background-color: #3F4049;
    text-decoration: none;
    color: white;
    list-style: none;
    /* margin-bottom: 5px; */
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    /* font-weight: bold; */
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.changeSubjectBackgroundToWhite{
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.5) !important;
    border-right: none !important;
    font-weight: bold;
}

.subjectsList:hover{
    transition: 200ms;
    border-bottom: 1px solid white;
}

.subjectsListVisible{
    display: block;
}

.subjectsListHide{
    display: none;
}

.addNewSubButtonDiv{
    width: 100%;
    height: 10%;
    text-align: center;
    align-content: center;
    /* background-color: aqua; */
}

.addNewSubButton{
    width: 50%;
    height: 100%;
    border-radius: 5px;
    background-color: #0A92DD;
    border: none;
    box-shadow: 0 0 10px 0 rgba(10, 147, 221, 0.5);
    /* border: 1px solid black; */
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.questionsList{
    width: 100%;
    height: 90%;
    justify-items: center;
    margin: 5px;
    overflow:scroll;
}

.questionsAddDiv{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
}

.addQuestionExcelSheet{
    width: 20dvh;
    height: 5dvh;
    background-color: rgba(0, 128, 0, 0.5);
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 128, 0, 0.5);
}

.addQuestionExcelSheet:hover{
    cursor: pointer;
}

.addQuestion{
    width: 20dvh;
    height: 5dvh;
    background-color: #0A92DD;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 10px 0 #0A92DD;
}

.questionsDiv{
    width: 90%;
    /* height: 5dvh; */
    background-color: rgba(10, 147, 221, 0.3);
    border-radius: 10px;
    display: flex;
    justify-content:space-evenly;
    padding: 2px;
    margin-bottom: 5px;
}

.questionsDiv:hover{
    background-color: rgba(10, 147, 221, 1);
    transition: 200ms ease;
}

.questions{
    cursor: pointer;
    width: 100%;
    height: 5dvh;
    overflow: auto;
    /* justify-items: center; */
    align-content: center;
    text-align: center;
}

.questionsStatic{
    /* position: absolute; */
    width: 62.7%;
    background-color:white !important;
    height: 5dvh;
    padding: 2px;
    /* justify-items: center; */
    align-content: center;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 10px;
}

.questionEdit{
    width: fit-content;
    align-content: center;
    /* margin-right: 5%; */
    cursor: pointer;
    color: blue;
    font-weight: bold;
    margin-right: 2.5%;
}

.editQuestionForm{
    background-color: red;
    color: white;
}

.serverIssueDiv{
    /* background-color: #0A92DD; */
    width: 100%;
    height: 100%;
    justify-items: center;
    align-content: center;
}

.serverIssue{
    background-color: rgba(255, 0, 0, 0.3);
    text-align: center;
    align-content: center;
    font-size: xx-large;
    /* width: 30%;
    height: 20%; */
    /* opacity: 0; */
    animation: serverIssueAnimation 5s infinite;
}

@keyframes serverIssueAnimation {
    0%{
        width: 10%;
        height: 5%;
        font-size:xx-small;
        opacity: 0;
        border-radius: 30%;
        transform: rotate(90deg);
    }
    100%{
        width: 30%;
        height: 20%;
        transform: rotate(0deg);
        border-radius: 50%;
        opacity: 1;
    }
    /* 100%{
        filter: blur(10px);
    } */
}

.editQuestionDiv{
    display: grid;
    gap: 0;
    height: fit-content;
}

.question{
    padding: 0;
    margin: 0;
    width: fit-content;
    height: fit-content;
}

.questionInput{
    padding: 0;
    margin: 0;
    margin-top: 2dvh;
    width: 100%;
    border: 0;
    opacity: 1;
    background-color: transparent;
    font-size: large;
    font-weight: bold;
}

.optionVisible{
    opacity: 1;
    display: flex;
}

.optionHidden{
    width: 0;
    height: 0;
    opacity: 0;
    position: fixed;
}

.allOptionsVisible{
    opacity: 1;
}

.allOptionsHidden{
    width: 0;
    height: 0;
    opacity: 0;
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
    position: fixed;
}


.optionsLabelVisible{
    width: 10%;
    height: fit-content;
    opacity: 1;
}

.optionsLabelHidden{
    opacity: 0;
    width: 0;
    height: 0;
    position: fixed;
}

.optionInputHidden{
    opacity: 0;
    width: 0;
    height: 0;
    position: fixed;
}

.questionDelete{
    width: fit-content;
    align-content: center;
    /* margin-right: 5%; */
    cursor: pointer;
    /* color: red; */
    filter: invert();
    font-weight: bold;
    margin-right: 2.5%;
}

.optionInputVisible{
    padding: 0;
    margin: 0;
    margin-top: 2dvh;
    width: 100%;
    border: 0;
    opacity: 1;
    background-color: transparent;
}

.editClientFormDivVisible{
    display: block;
    opacity: 1;
}

.ClientFormDivVisible{
    display:block;
}

.ClientFormDivHide{
    display: none;
}

.editClientFormDivHide{
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
}

.addQuestionBackgroundBlurVisible{
    position: fixed;
    width: 100%;
    height: 100%;
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
    filter: blur(10px) opacity(1);
    cursor: pointer;
    left: 0;
    top: 0;
}

.addQuestionDivVisible{
    width: 80%;
    margin-left: 10%;
}

/* .addQuestionBackgroundBlurHide{
    width: 0;
    height: 0;
} */

.addQuestionDivHide{
    width: 0;
    height: 0;
}

.addQuestionMainDivVisible{
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
}

.addQuestionMainDivHide{
    width: 0;
    height: 0;
    z-index: -1;
}

.addQuestionFormDivVisible{
    /* position: fixed; */
    background-color: white;
    width: 60%;
    height: 70%;
    position: inherit;
    border-radius: 10px;
    margin-top: 15%;
    margin-left: 19%;
    justify-items: baseline;
    align-content: center;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.4), 5px -5px 10px 0 rgba(0, 0, 0, 0.4), -5px -5px 10px 0 rgba(0, 0, 0, 0.4), -5px 5px 10px 0 rgba(0, 0, 0, 0.4);
}

.addQuestionFormDivHide{
    width: 0;
    height: 0;
    /* transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%; */
    position: fixed;
    opacity: 0;
}

.optionAddQuestionVisible{
    width: 80%;
    margin-left: 10%;
}

.allAddQuestionOptionsVisible{
    width: 100%;
    opacity: 1;
}

.allAddQuestionOptionsHidden{
    width: 0;
    height: 0;
    opacity: 0;
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
    position: fixed;
}

.optionsAddQuestionLabelVisible{
    width: 10%;
    height: fit-content;
    opacity: 1;
}

.optionsAddQuestionLabelHidden{
    opacity: 0;
    width: 0;
    height: 0;
    position: fixed;
}

.optionAddQuestionInputVisible{
    /* padding: 0; */
    margin: 10px;
    margin-left: 20px;
    /* margin-top: 2dvh; */
    width: 80%;
    /* height: 40%; */
    /* border: 0; */
    opacity: 1;
    /* background-color: transparent; */
}

.optionAddQuestionInputHidden{
    opacity: 0;
    width: 0;
    height: 0;
    position: fixed;
}

.AddQuestionInput{
    width: 80%;
    opacity: 1;
    font-size: large;
    font-weight: bold;
}

.addQuestionSaveButDivVisible{
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
}

.addQuestionSaveButtonVisible{
    background-color: rgba(10, 147, 221, 0.2);
    border-radius: 5px;
    width: 20%;
    height: 4dvh;
    border: 0;
}

.addQuestionSaveButtonVisible:hover{
    background-color: rgba(10, 147, 221, 1);
    color: white;
    cursor: pointer;
    transition: 300ms;
    box-shadow: 0 0 10px 0 black, 0 0 10px 0 rgba(128, 128, 128, 0.3);
}

.addQuestionSaveButtonHide{
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
    position: fixed;
    opacity: 0;
}