nav ul li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: small;
    font-weight: 400;
}

nav ul li{
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    list-style: none;
    align-content: center;
    /* overflow: scroll;
    font-size: 10px;
    display: flex; */
    /* cursor: pointer; */
}

nav ul li:hover{
    width: 100%;
    height: 100%;
    border: 2px solid rgba(217, 217, 217, 0.15);
    list-style: none;
}

nav ul li:first-child:hover{
    /* width: 100%;
    height: 100%; */
    /* background-color: rgba(217, 217, 217, 0.15); */
    border: 2px solid rgba(217, 217, 217, 0.15);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    /* list-style: none; */
}

.homeIfSelected{
    border: 2px solid rgba(217, 217, 217, 0.15);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.rankingIfSelected{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid rgba(217, 217, 217, 0.15);
}

.restnavBarIfSelected{
    width: 100%;
    height: 100%;
    border: 2px solid rgba(217, 217, 217, 0.15);
    list-style: none;
}

nav ul li:last-child:hover{
    /* width: 100%;
    height: 100%; */
    /* background-color: rgba(217, 217, 217, 0.15); */
    border: 2px solid rgba(217, 217, 217, 0.15);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* list-style: none; */
}


nav ul{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(217, 217, 217, 0.05);
    border-radius: 20px;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: 150px;
}

nav{
    width: 80%;
    height: 35px;
    justify-items: center;
    align-content: center;
    
}

.navBar{
    display: flex;
    margin-top: 10vh;
    margin-bottom: 2px;
    z-index: 1;
}

.navBut{
    width: 15%;
    height: 35px;
    align-content: center;
}

.navBut button{
    background-color: #0A92DD;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}

.hidden{
    opacity: 0;
}

.visible{
    opacity: 1;
    transition: 2s ease-in;
}

.adminPanelsDiv{
    display: flex;
    background-color: rgba(217, 217, 217, 0.05);
    border-radius: 20px;
    width: 15%;
    margin-right: 10px;
}

/* .adminPanelsButton:first-child:hover{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: 1px solid rgba(217, 217, 217, 0.15);
}

.adminPanelsButton:last-child:hover{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid rgba(217, 217, 217, 0.15);
} */

.adminPanelsButton{
    width: 100%;
    background-color: transparent;
    border: none;
}

.adminPanelsAnchor{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}