.testSeries{
    display: inline-grid !important;
    width: 100%;
    /* background-color: aqua; */
    height: 60%;
    display: flex;
    justify-content: space-around;
    font-size: small !important;
    overflow: scroll;
}

.justifycontentSE{
    display: flex;
    justify-content: space-evenly;
    border: 0;
    padding: 0;
    height: 30%;
    margin-bottom: 10px;
}

select{
    width: 100%;
    height: 100%;
}


.testLevel, .testMcq, .testProblemStatements{
    width: max-content;
    height: max-content;
}

.testSelect{
    width: 15dvh;
    height: 4dvh;
    font-size: x-large;
    border-radius: 5px;
    cursor: pointer;
}

option{
    cursor: pointer;
}