html{
    width: 100%;
    height: 100dvh;
    margin: 0;
    padding: 0;
  }
::-webkit-scrollbar{
    display: none;
}

/* body{
    width: 100% !important;
    align-items: center !important;
} */

.body{
    overflow: hidden;
    width: 100%;
    height: 100dvh;
    margin: 0;
    padding: 0;
    background: rgb(188, 187, 187);
  }

  .homeRoot{
    width: 100%;
    height: 100dvh;
    display: block !important;
    /* justify-content: center;
    align-items: center; */
  }

  .loginBody{
    width: 100%;
    height: 100dvh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: white; */
  }

  .rootClass{
    width: 100%;
    height: 100%;
    /* display: flex !important; */
    justify-content: center;
    align-items: center;
    color: white;
  }

  .clientRootClass{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }